doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet", href="/components/bootstrap.min.css")
    script(src="/components/jquery.min.js")
    script(src="/components/bootstrap.min.js")
  body
    block content